.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.vl {
    border-left: 2px solid #adadad;
    height: 20px;
}

header {
    text-align: center;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
}

header h3 {
  font-family: Rock Salt, cursive;
  color: #000000;
  font-size: 1.5em;
}

nav {
    display: flex;
    align-items: center;
    gap: 5px;
}

hr.solid {
  border-top: 1px solid #adadad;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

ul {
    list-style:none;
    padding: 0;
}

nav {
    color: #000000;
    padding: 0px 0;
    text-align: center;
}

a {
    margin: 5px;
    text-decoration: none;
    color: #007BFF;
    font-weight:500;
}

h1 {
   
    color: #333;
    text-align: center;
    margin:0 0 10px 0;
    font-size: 2.5em;
}

h2 {
    color: #555;
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    margin: 0 0 0 0;
}

h3 {
    color: #000000;
    margin: 0 0 0 0;
    text-align: left;
    font-family: "Rock Salt", cursive;
    font-size: 1em;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header {
    background: #fff;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex: 1 1 calc(33% - 40px);
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap:wrap;
}

.first {
    background: #fff;
    margin: 10px;
    padding: 1% 2% 2% 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex: 1 1 calc(33% - 40px);
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: baseline;
}

.title {
    background: #fff;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex: 1 1 calc(33% - 40px);
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-between;
}

.sub_blocks {
    background: #fff;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap:wrap;
}

.sub_blocks section {
    background: #ffffff;
    padding: 2%;
    display: flex;
    flex: 1 1 calc(33% - 40px);
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content:baseline;
}

.second {
    background-color: #ffffff;
    margin: 5px;
    padding: 1% 2% 2% 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33% - 40px);
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: column;
}

.second h3 {
    text-align: left;
    margin-bottom: 1%;
    padding-left: 2%;
}

.review_list {
    background-color: #ffffff;
    margin: 0 1% 0 0 1%;
    flex: 1 1 calc(33% - 40px);
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.review_item {
    padding: 1% 2% 1% 2%;
    font-style: italic;
    border: solid 1px #000000;
    border-radius: 10px;
    flex: 0 1 30%;
    box-sizing: border-box;
    flex-direction: row;
}

.review_item p {
    margin: 1% 0 1% 0;
}

.professor {
    font-style: normal;
    color: #919191;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .title {
    padding: 1% 2% 2% 2%;
    }
    
    .first {
    padding: 1% 5% 2% 5%;
    }

    .sub_blocks {
        flex-direction: column;
    }

    .sub_blocks section {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }

    .review_list {
        flex-direction: column;
        padding: 0 2% 0 2%;
        margin-top: 3%;
    }

    .review_item {
        flex: 1 1 100%;
        padding: 2% 3% 2% 3%;
        margin-bottom: 20px;
    }

    header {
        flex-direction: column;
        align-items: center;
        padding-top: 5px;
    }

}
